<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Sayfalar</h5>
                <ul>
                    <li><a href="/tum-restoranlar">Ana Sayfa</a></li>
                    <li><a href="#" data-target="#signUpModal" data-toggle="modal">Kayıt Ol</a></li>
                    <li><a href="#" data-target="#loginModal" data-toggle="modal">Giriş Yap</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                @*<h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>*@
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                @*<ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>*@
            </div>
            <div class="col-sm-3 info">
                <h5>Hakkımızda</h5>
                <p> Restoran Inceleme, İstanbul'da en iyi restoranları bulabileceğiniz ve restoranlar hakkında yorum yapabileceğiniz bir inceleme sitesidir </p>
            </div>
        </div>
    </div>
    <div class="second-bar">
        <div class="container">
            <h2 class="logo"><a href="/"> Restoran İnceleme </a></h2>
            <div class="social-icons">
                <p>Restoran İnceleme &copy; 2019</p>
            </div>
        </div>
    </div>
</footer>