@model RestaurantReviews.Models.Entities.Identity.AppUser
@{
    ViewBag.Title = "ChangeMail";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">E-posta Değiştir</h6>
    </div>
    @* ----- BEGIN ADD RESTAURANT FORM ----- *@
    <div class="card-body">
        @* ----- BEGIN Mevcut E-posta ----- *@
        <div class="row">
            <div class="col-20">
                <label for="UserEmail">Mevcut E-posta Adresi:</label>
            </div>
            <div class="col-60">
                <input type="text" id="user-email" name="UserEmail" value="@Model.Email" disabled>
            </div>
        </div>
        @* ----- END Mevcut E-posta ----- *@
        @* ----- BEGIN Yeni E-posta ----- *@
        <div class="row">
            <div class="col-20">
                <label for="UserEmailNew">Yeni E-posta Adresi:</label>
            </div>
            <div class="col-60">
                <input type="text" id="user-email-new" name="UserEmailNew" placeholder="Yeni e-posta adresinizi giriniz...">
            </div>
        </div>
        @* ----- END Yeni E-posta ----- *@

        @* ----- BEGIN Submit Button ----- *@
        <div class="row">
            <div class="col-20">
            </div>
            <div class="col-60">
                <input type="submit" value="Değiştir" id="update-email">
            </div>
        </div>
        @* ----- END Submit Button ----- *@
    </div>
    @* ----- END ADD RESTAURANT FORM ----- *@
</div>
<script src="~/Areas/Member/Scripts/Member/ChangeEmail.js"></script>