
@{
    ViewBag.Title = "ChangePassword";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Şifre Değiştir</h6>
    </div>
    @* ----- BEGIN ADD RESTAURANT FORM ----- *@
    <div class="card-body">
        @* ----- BEGIN Mevcut Şifre ----- *@
        <div class="row">
            <div class="col-20">
                <label for="UserPassword">Mevcut Şifreniz:</label>
            </div>
            <div class="col-60">
                <input type="password" class="form-control form-control-user" id="user-password" name="UserPassword" placeholder="Mevcut şifrenizi giriniz...">
            </div>
        </div>
        @* ----- END Mevcut Şifre ----- *@
        @* ----- BEGIN Yeni Şifre ----- *@
        <div class="row">
            <div class="col-20">
                <label for="UserPasswordNew">Yeni Şifre:</label>
            </div>
            <div class="col-60">
                <input type="password" class="form-control form-control-user" id="user-password-new" name="UserPasswordNew" placeholder="Yeni şifrenizi giriniz...">
            </div>
        </div>
        @* ----- END Yeni Şifre ----- *@
        @* ----- BEGIN Yeni Şifre Confirm----- *@
        <div class="row">
            <div class="col-20">
                <label for="UserPasswordConfirm">Şifreyi Doğrula:</label>
            </div>
            <div class="col-60">
                <input type="password" class="form-control form-control-user" id="user-password-confirm" name="UserPasswordConfirm" placeholder="Yeni şifrenizi tekrar giriniz...">
            </div>
        </div>
        @* ----- END Yeni Şifre Confirm----- *@

        @* ----- BEGIN Submit Button ----- *@
        <div class="row">
            <div class="col-20">
            </div>
            <div class="col-60">
                <input type="submit" value="Değiştir" id="update-password">
            </div>
        </div>
        @* ----- END Submit Button ----- *@
    </div>
    @* ----- END ADD RESTAURANT FORM ----- *@
</div>
<script src="~/Areas/Member/Scripts/Member/ChangePassword.js"></script>