@model RestaurantReviews.Models.Entities.Identity.AppUser
@{
    ViewBag.Title = "Details";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Kullanıcı Bilgileri</h6>
    </div>
    @* ----- BEGIN USER DETAILS ----- *@
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">

                @* ----- BEGIN Kullanıcı Adı ----- *@
                <div class="row">
                    <div class="col-md-3">
                        <label><strong>Kullanıcı Adı:</strong></label>
                    </div>
                    <div class="col-md-9">
                        <label>@Model.UserName</label>
                    </div>
                </div>
                @* ----- END Kullanıcı Adı ----- *@
                @* ----- BEGIN E-posta ----- *@
                <div class="row">
                    <div class="col-md-3">
                        <label><strong>E-posta:</strong></label>
                    </div>
                    <div class="col-md-9">
                        <label>@Model.Email</label><label><a href="/kullanici-islemleri/eposta-degistir">Değiştir</a></label>
                    </div>
                </div>
                @* ----- END E-posta ----- *@
            </div>
            <div class="col-md-6">

                @* ----- BEGIN Profil Resmi ----- *@
                <div class="row">
                    <div class="col-20">
                        <label><strong>Profil Resmi:</strong></label>
                    </div>
                    <div class="col-60">
                        <img id="profile-pic" src="@Model.ProfilePicPath"/>
                        <br />
                        <a href="/kullanici-islemleri/profil-resmi-degistir">Profil resmini Değiştir</a>
                    </div>
                </div>
                @* ----- END Profil Resmi ----- *@
            </div>
        </div>
    </div>
    @* ----- END USER DETAILS ----- *@
</div>