@model RestaurantReviews.WebUI.Areas.Admin.Models.DashboardVm
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <!-- Restoran Sayısı Card -->
    <div class="col-xl-4 col-md-4 mb-4">
        <a href="/yonetim-paneli/restoran-listesi">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h6 font-weight-bold text-primary mb-1">RESTORAN SAYISI</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.RestaurantCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-utensils fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Üye Sayısı Card -->
    <div class="col-xl-4 col-md-4 mb-4">
        <a href="/yonetim-paneli/kullanici-listesi">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h6 font-weight-bold text-primary mb-1">KULLANICI SAYISI</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.UserCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Yorum Sayısı Card -->
    <div class="col-xl-4 col-md-4 mb-4">
        <a href="/yonetim-paneli/yorum-listesi">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h6 font-weight-bold text-primary mb-1">YORUM SAYISI</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ReviewCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<!--Aylara Göre Yorum Sayısı Grafik-->
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@DateTime.Now.Year Yılının Aylara Göre Yorum Sayısı Grafiği</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="myBarChart" width="612" height="320" class="chartjs-render-monitor" style="display: block; width: 612px; height: 320px;"></canvas>
                </div>
                <hr>
                <span>İstediğiniz sütunun üzerine gelerek yorum sayısını görebilirsiniz.</span>
            </div>
        </div>
    </div>
</div>

<!--İŞLEMLER-->
<div class="row">
    <!-- Restoran İşlemleri Card -->
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-primary mb-1">Restoran İşlemleri</div>
                        <div>
                            <ul>
                                <li><a href="/yonetim-paneli/restoran-listesi">Aktif Restoranları Listele</a></li>
                                <li><a href="/yonetim-paneli/pasif-restoran-listesi">Pasif Restoranları Listele</a></li>
                                <li><a href="/yonetim-paneli/restoran-ekle">Yeni Restoran Ekle</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Kullanıcı İşlemleri Card -->
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-primary mb-1">Kullanıcı İşlemleri</div>
                        <div>
                            <ul>
                                <li><a href="/yonetim-paneli/kullanici-listesi?confirmed=true">Aktif Kullanıcıları Listele</a></li>
                                <li><a href="/yonetim-paneli/pasif-kullanici-listesi">Pasif Kullanıcıları Listele</a></li>
                                <li><a href="/yonetim-paneli/kullanici-listesi?confirmed=false">E-mail Onayı Yapmamış Kullanıcıları Listele</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Yorum İşlemleri Card -->
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-primary mb-1">Yorum İşlemleri</div>
                        <div>
                            <ul>
                                <li><a href="/yonetim-paneli/yorum-listesi?confirmed=true">Onaylanmış Yorumları Listele</a></li>
                                <li><a href="/yonetim-paneli/yorum-listesi?confirmed=false">Onay Bekleyen Yorumları Listele</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/Assets/Panel/Chart.min.js"></script>
<script src="~/Content/Assets/Panel/chart-bar-demo.js"></script>